pl_importParquet2.json
{
	"name": "pl_importParquet2",
	"properties": {
		"activities": [
			{
				"name": "ForEach Parquet File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable Filename",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varFilename",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable Table Name",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable Filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varTableName",
								"value": {
									"value": "@substring(item().name, 0, lastIndexOf(item().name, '.'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Load Parquet to Staging",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable Table Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlPoolSink",
									"preCopyScript": {
										"value": "@{concat('DROP TABLE ', 'staging_damien', '.', '[', substring(item().name, 0, lastIndexOf(item().name, '.')), ']')}",
										"type": "Expression"
									},
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_parquet",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_stagingTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get All Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_parquetFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"varFilename": {
				"type": "String"
			},
			"varTableName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-18T22:49:50Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}